.contact__bg{
    background-color: #242424;
    padding: 3rem 0;
    margin: 3rem 0 -2rem 0;
}


.contacto{
    background: linear-gradient(to bottom, #242424, #000000);
    border-radius: 0;
    padding-bottom: 1rem;
    color: var(--white);
}

.title__contacto{
    font-size: 1.5rem;
    text-align: center;
}

.title__contacto:before {
    content: "—— ";
    font-weight: 400;
}

.title__contacto:after {
    content: " ——";
    font-weight: 400;
}

.datos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.125rem;
}

.datos svg{
    margin: 1rem;

}