.footer{
    padding-top: 0.2rem;
    padding-bottom: 3rem;
    background-color: var(--dark);
    color: var(--white);
    
}

.msg__footer{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 1.75rem;

}

.footer__redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    margin: 2rem 1rem 2rem 0;
}


.footer__menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
    align-items: center;
    margin: 1rem 1rem;
    padding-inline-start: 0;
    line-height: 3; 

}


.footer__link {
    margin: 0 0.5rem;
    text-decoration: none;
    color: var(--white);
    font-size: 1.125rem;
    /* Elimina el margen para que los elementos estén más cerca */
}

.msg{
    text-align: center;
    margin-top: 2rem;
    font-size: 0.8rem;
}
